<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :schedule_id, value: params[:id] %>

  <div id='travellers'>
    <%= form.fields_for :travellers do |traveller| %>
      <%= render 'traveller_fields', f: traveller %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add person', form, :travellers, class: 'btn btn-dark btn-sm' %>
    </div>
  </div>
<br/><br/>
  <div class="actions">
    <%= form.submit "Confirm Booking", class: "btn btn-primary" %>
  </div>
<% end %>
