
<!--<%#= @schedule.flight.origin %><br/>-->
<!--<%#= @schedule.flight.destination %><br/>-->
<!--<%#= @schedule.departure %><br/>-->
<!--<%#= @schedule.flight.duration %><span> mins.</span><br/>-->
<!--<%#= @schedule.flight.total_seats %><br/>-->



<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :schedule_id, value: params[:id] %>
  <%#= f.hidden_field :type, value: "Member" %>

  <div class="field">
    <%= form.label :seats_booked, "Seats Required", class: "form-label" %>
    <%= form.text_field :seats_booked, class: "form_control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
