<h1>All Bookings for <%= current_user.name %></h1>
<br/>
<table class="table table-striped table-bordered table-hover table-scroll">

  <thead class="table-dark">
  <tr>
    <th>Sr. No.</th>
    <th>Booked by</th>
    <th>Booking ID</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Flight No.</th>
    <th>Departure</th>
    <th>Duration</th>
    <th>Seats Booked</th>
    <th>Booked On</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
    <% @user_bookings.each.with_index(1) do |booking, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= booking.member.name %></td>
      <td><%= booking.id + 276400 %></td> <!-- 276400 is just a random number for display purpose only -->
      <td><%= booking.schedule.flight.origin %></td>
      <td><%= booking.schedule.flight.destination %></td>
      <td><%= booking.schedule.flight_id %></td>
      <td><%= booking.schedule.departure.localtime %></td>
      <td><%= booking.schedule.flight.duration %><span> mins.</span></td>
      <td><%= booking.travellers.count %></td>
      <td><%= booking.created_at.localtime %></td>
      <td><%= link_to 'View Ticket', booking, class: 'btn btn-sm btn-dark' %></td>
      <td><%= link_to 'Cancel this booking', booking, method: :delete, data: { confirm: "Are you sure you want to cancel this booking?\nThis action can't be reversed" }, class: 'btn btn-sm btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<%#= link_to 'New Booking', new_booking_path %>
