<div class="search-box-partial">
<div class="search-box-container">
  <%= form_tag(search_schedules_path, method: :get) do %>
    <div class="search-fields-container mb-5">
        <div>
          <%= label_tag :origin %><br/>
          <%= select_tag :origin, options_for_select(flight_origins_list), class: "search-field" %>
        </div>

        <div>
          <%= label_tag :destination %><br/>
          <%= select_tag :destination, options_for_select(flight_destinations_list), class: "search-field" %>
        </div>

        <div class="my-4">
          <%= label_tag :start_date %><br/>
          <%= date_field_tag :start_date, Date.today, class: "search-field" %>
        </div>

        <div class="my-4">
          <%= label_tag :end_date %><br/>
          <%= date_field_tag :end_date, Date.today + 1.day, class: "search-field" %>
        </div>
    </div>
    <br/><br/>
    <%= button_tag "Search for flights", class: "btn btn-primary", id: "search-flight-button" %>
  <% end %>
</div>
</div>
<br/><br/><br/>