<h4><%= "Hey! We found these #{@result_schedules_length} results for you in date range #{params[:start_date]} to #{params[:end_date]}." %></h4>
<br/>

<table class="table table-striped table-bordered table-hover table-scroll">

  <thead class="table-dark">
  <tr>
    <th>Sr. No.</th>
    <th>Departure Time</th>
    <th>Flight No.</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Operator</th>
    <th>Duration</th>
    <th>Ticket Price</th>
    <th>Available Seats</th>
    <th colspan=1"></th>
  </tr>
  </thead>

  <tbody>
    <% @paginated_result_schedules.each.with_index(pagination_index params[:schedules_page]) do |schedule, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= schedule.departure.localtime %></td>
      <td><%= schedule.flight_id %></td>
      <td><%= schedule.flight.origin %></td>
      <td><%= schedule.flight.destination %></td>
      <td><%= schedule.flight.operator %></td>
      <td><%= schedule.flight.duration %><span> mins.</span></td>
      <td><span>Rs. </span><%= schedule.ticket_price %></td>
      <td><%= schedule.available_seats %></td>
      <td>
        <% if user_signed_in? && current_user.type === 'Admin' %>
          <%= link_to "Edit", edit_schedule_path(schedule.id), method: :get, class: "btn btn-dark btn-sm" %>
        <% else %>
          <%= link_to "Book", new_flight_booking_path(schedule.id), method: :get, class: "btn btn-primary btn-sm" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @paginated_result_schedules, param_name: 'schedules_page', class: "d-flex justify-content-center mt-5" %>
