<h1>Showing schedule for flight <%= @schedule.flight_id %></h1>

<table class="table table-striped table-bordered table-hover">

  <thead class="table-dark">
  <tr>
    <th>Departure Time</th>
    <th>Flight No.</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Operator</th>
    <th>Duration</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @schedule.departure %></td>
      <td><%= @schedule.flight_id %></td>
      <td><%= @schedule.flight.origin %></td>
      <td><%= @schedule.flight.destination %></td>
      <td><%= @schedule.flight.operator %></td>
      <td><%= @schedule.flight.duration %><span> mins.</span></td>
    </tr>
  </tbody>

</table>

<%= link_to "Edit", edit_schedule_path(@schedule), class:"btn btn-dark" %>
<%= button_to "Delete", destroy_schedule_path(@schedule), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>